<ul>
	<% @questions.each do |question| %>
		<li>
			<%= question.body %>

			<ul>
				<% question.comments.each do |comment|%>
					<li> <%= comment.user.last_name + ':' + comment.body %></li>
					<br>
					Likes:<%= comment.likes.size %>
					<% if Like.where(user_id: current_user.id, comment_id: comment.id).size == 0 %>
						<%= link_to "Like", like_comment_path(:comment_id => comment.id), method: :post, remote: true %>
					<% else %>
						<%= link_to "Unlike", unlike_comment_path(:comment_id => comment.id), method: :post, remote: true %>
					<% end %>
				<% end %>
			</ul>
			<%= form_for :pc, url: post_comment_path, remote: true do |c| %>
				<%= c.text_field :body, placeholder: "Enter the answer" %>
				<%= c.hidden_field :question_id, :value => question.id %>
				<%= c.submit "Post comment" %>
			<% end %>
		</li>
	<% end %>
</ul>