<div id="loginheader">
	<div id="loginpagecontainer" align="center">
		<div id="smallerlogincontainer">

			<%= form_for :session, url: login_path, remote: true do |f| %>
			<div class="heading">
				<%= f.label :username %>
			</div>
			<div>
				<%= f.text_field :username, class: 'sometextbox', :required => true %>
			</div>
			<div class="heading">
				<%= f.label :password %>
			</div>
			<div>
				<%= f.password_field :password, class: 'sometextbox', :required => true %>
			</div>
			<div>
				<%= f.submit "Login", class: 'somebutton' %>
			</div>
			<% end %>
			<%= button_to "Sign up", signup_path, class: 'somebutton', :method => :get %>
		</div>
	</div>
</div>