<% if entered? %>
	<%= current_room.room_name %>
	<!-- ask and answer question area-->
	<div id='question_area' style="height:200px;width:200px;border:1px solid red;overflow-y: scroll;">
		<%= render 'questions/questions' %>
	</div>
	<div id="post_question">
		<%= render 'questions/question_form' %>
	</div>

	<!-- chat area-->
	<div id="chat_area" style="height:200px;width:200px;border:1px solid red; overflow-y: scroll;">
		<%= render 'messages/messages' %>
	</div>
	<div id="send_message">
		<%= render 'messages/message_form' %>
	</div>
<% end %>
