<% if entered? %>
	<%= current_room.room_name %>
	<!-- ask and answer question area-->
	<div id='question_area'>
		<%= render 'questions/questions' %>
	</div>
	<div id="post_question">
		<%= render 'questions/question_form' %>
	</div>

	<!-- chat area-->
	<div id="chat_area">
		<%= render 'messages/messages' %>
	</div>
	<div id="send_message">
		<%= render 'messages/message_form' %>
	</div>
<% end %>
