<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<header>
	<span>Hello, <%= current_user.first_name %></span>
	<br>
	<%= link_to "Log out", logout_path, method: :delete %>
</header>

<div id="roomlist">
	<div class="somesection">ROOMS</div>
	<div id="roomlist-list">
		<%= render 'rooms/room' %>
	</div>
	<div id="create-room-form">
		<%= render 'rooms/create_room' %>
	</div>
</div>

<div id="maincontainer" >
	<%= render 'discussion_room' %>
</div>

<div id="friendslist">
	<div class="somesection">FRIENDS</div>
	<ul id="friendlist-list">
		<%= render 'friends/friend' %>
	</ul>
	<div id="add-friend-form">
		<%= render 'friends/add_friend' %>
	</div>
</div>


